<div class="events wrapper">
  <div class="event">
    <div class="event-body">
      <div class="image-wrap">
        <%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
          <div class="row">
            <div class="small-12 medium-12 large-12">
              <div class="form-group text-center">
                <h4>Change your profile avatar</h4>
                  <div class="img-circle">
                    <%= profile_avatar_select(@user) %>
                  <%= f.file_field :avatar, onChange: 'loadFile(event' %>
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-12 large-12">
              <div class="form-group text-center">
                <h4>Update your description</h4>
                  <%= f.text_area :description, label: false, rows: 4 %>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <%= f.submit "Update Profile", class: 'button button-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

         