<div class="events-wrapper">
	<div class="row profile-header">
		<div class="small-12 medium-6 large-6">
			<div class="img-circle">
				<%= profile_avatar_select(@user) %>
			</div>
		</div>
		<div class="small-12 medium-6 large-6">
			<div class="user-name-and-follow">
				<h3 class="profile-user-name">
					<%= @user.username %>
				</h3>
				<span>
						<% if @user == current_user %>
						  <%= link_to 'Edit Profile', edit_profile_path(@user.username), class: 'button edit-button' %>
						<% else %>
						  <% if current_user_is_following(current_user.id, @user.id) %>
						    <%= link_to 'Following', unfollow_user_path, remote: true,
						      class: 'button unfollow-button', id: 'unfollow-button', method: :post %>
						  <% else %>
						    <%= link_to 'Follow', follow_user_path, remote: true, class: 'button follow-button', id: 'unfollow-button', method: :post %>
						  <% end %>
						<% end %>
				</span>
			</div>
			<p class="profile-description">
				<%= @user.description %>
			</p>
			<div class="user-statistics">
				<ul class="list-inline list-unstyled">
          <li>
            <strong><%= @user.events.count %></strong> 
            <%= "event".pluralize(@user.events.count)%>
          </li>
          <li>
            <strong><%= @user.followers.count %></strong> 
            <%= "follower".pluralize(@user.followers.count)%>
          </li>
          <li>
            <strong><%= @user.following.count %></strong> 
            <%= "following" %>
          </li>
        </ul>
			</div>
		</div>
	</div>
</div>

<% @events.each do |event| %>
  <%= render 'events/event', event: event %>
<% end %>