<div class="comment">
	<%= link_to comment.user.username, profile_path(comment.user.username) %>
	<div class="comment-content">
		<%= comment.content %>
		<% if comment.user == current_user %>
			<%= link_to event_comment_path(event, comment), method: :delete, data: {confirm: "Are you sure"} do %>
			<span class="fi fi-x delete-comment"></span>
			<% end %>
		<% end %>
	</div>
</div>