<li>
  <div class="card card-default" data-conversation-id="<%= conversation.id %>">
    <div class="card-heading">
      <% puts "****************************************" %>
      <% puts  conversation.messages.size%>
      <% puts "****************************************" %>
      <%= link_to conversation.opposed_user(user).username, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "button button-default button-xs pull-right", remote: true, method: :post %>
    </div>

    <div class="card-body" style="display: none;">
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages,
          user: user %>
        </ul>
      </div>
      <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.text_area :body, class: "form-control" %>
        <%= f.submit "Send", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</li>
