$('#follow-button').attr('class', 'button unfollow-button')
                   .text('Following')
                   .attr('href', "/<%= @user.username %>/unfollow_user")
                   .attr('id', 'unfollow-button');