$('#unfollow-button').text('Follow')
                     .attr('class', 'button follow-button')
                     .attr('href', "/<%= @user.username %>/follow_user")
                     .attr('id', 'follow-button');