<div class="has-dropdown notification-dropdown">
  <a class="has-dropdown no-click">
    <%= current_user.notifications.where(read:false).count %>
    <span class="fi fi-flag"></span>
  </a>
  <ul class="dropdown">
    <li class="dropdown-header text-center">Notifications</li>
      <%= render current_user.notifications.where(read: false).order('created_at DESC').last(5) %>
    </li>
    <li class="divider" role="separator">
      <li class="text-center">
        <%= link_to "View All", notifications_path %>
      </li>
    </li>
  </ul>
</div>

