<div class="container">
  <div class="row">
    <div class="small-12 medium-6 large-12">
      <ul class="notification-index-list"></ul>
      <% @notifications.each do |notification| %>
        <%= render 'notification', notification: notification %>
      <% end %>
    </div>
  </div>
</div>
