
<div class="events-wrapper">
  <div class="event">
    <div class="event-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= link_to event.user.username, profile_path(event.user.username) %>
      </div>
      <%= event.title %>
      <div class="time-ago">
        <%= time_ago_in_words event.created_at %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag event.image.url(:medium), class:'img-responsive'), event_path(event) %>
    </div>
    <div class="event-bottom">
      <div class="caption">
        <div class="event_edit">
          <%= link_to likes_helper(event, current_user) ,id: "likes_#{event.id}", remote: true do%>
            <i class="<%= likes_icon(event, current_user)%>"></i>
          <% end %>
          <span><%= event.get_likes.size%></span>
        </div>
        <div class="share">
          <%= social_share_button_tag(image_tag event.image.url) %>
        </div>
      </div>
      <div class="comments" id="comments_<%= event.id %>">
        <% if event.comments.any? %>
          <div class="paginator" id="#comments-paginator-<%= event.id %>">
            <% unless event.comments.count <= 4 %>
              <%= link_to "view all #{event.comments.count} comments", event_comments_path(event), remote: true, class: 'more-comments', data: {event_id: "#{event.id}", type: "html"} %>
            <% end %>
          </div>
          <%= render event.comments.last(4), event: event %>
        <% end %>
      </div>

    </div>
    </div>
    <div class="comment-like-form">
      <div class="comment-form col-sm-11">
        <%= form_for [event, event.comments.build] , remote: true do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{event.id}"%>
        <% end %>
      </div>
    </div>

    <div class="attendees">
      <% if event.date > Time.now %>
        <p><%= pluralize(event.attendees.count, 'person') %> attending</p>
      <% else %>
          <p><%= pluralize(event.attendees.count, 'person') %> attended</p>
      <% end %>
    </div>
</div>
