<% content_for :head do %>
	<%= javascript_include_tag 'google-places.js' %>
<% end %>

<%= image_tag @event.image.url(:medium) %>
<%= simple_form_for @event do |f| %>
	<%= f.input :image %>
	<%= f.input :title %>
	<%= f.input :description %>
	<%= f.datetime_select :date %>
	<%= f.input :price %>
	<%= f.input :place, collection: 1..10 %>
	<div class="address">
		<%= f.label :address, "Address / Location" %><span id="required">*</span>
    <%= f.text_field :address, class: "form-control", id: "txtautocomplete" %>
	</div>
	<%= f.button :submit %>
<% end %>