$('#events').append("<%= escape_javascript(render 'events')%>");
$('#paginator').html("<%= escape_javascript(link_to_next_page(@events, 'LOAD MORE', remote: true, id: 'load_more'))%>");
if (!$('#load_more').length) { $('#paginator').remove(); }