<%= render 'event', event: @event %>
  <div class="small-12 medium-6 large-4">
    <div class="well" id="event-sidebar">
      <p class="lead"><b>Location:</b> <%= @event.address %></p>
      <div id="map"></div>
    </div>
  </div>
	<!-- Attendees -->
  <% if @event.date > Time.now %> 
    <p class="lead center">People attending this event (<span id="attendees"><%= @event.attendees.count %></span>)</p>
  <% else %>
    <p class="lead center" >People that attended this event (<span id="attendees"><%= @event.attendees.count %></span>)</p> 
  <% end %>
  <hr>
  <div id="users_attending" >
    <% @event.attendees.each do |user| %>
      <li style="text-align:center; list-style: none; font-size: 16px;">Name: <%= link_to user.username, user %></li>
    <% end %>
  </div>
	<% if @event.user.id == current_user.id %>
			<%= link_to "Cancel", events_path %>
			<%= link_to "Edit", edit_event_path(@event) %>
	<% else %>
			<div id="attend_form" >
        <% if current_user.attending?(@event) %>
          <%= render "unattend" %>
        <% else %>
          <%= render "attend" %>
        <% end %>
      </div>
			<%= link_to "Cancel", events_path %>
	<% end %>
  
<% content_for :javascript do %>
<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  </script>
<% end %>