<div class="row">
	<div class="small-12 medium-6 large-8">
		<ul id="conversations-list">
			
			<% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation,
        user: current_user %>
      <% end %>
		</ul>
	</div>

	<div class="small-12 medium-6 large-4">
		<div class="card card-default">
			<div class="card-heading">
				<h3 class="card-title">User list</h3>
			</div>
			<div class="card-body">
				<ul>
					<% @users.each do |user| %>
            <li><%= link_to user.username, conversations_path(user_id: user), remote: true,
            method: :post %></li>
          <% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
