<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
				<%= link_to "Unajua", root_path %>
		</li>

		<li class="toggle-topbar">
      <a href="#"><span>Menu</span></a>
    </li>
	</ul>
	
	<section class="top-bar-section">
    <ul class="right">
          <% if user_signed_in? %>
						 <li>
	            <%= render 'notifications/notification_dropdown' %>
	          </li>
	          <li>
	            <%= link_to "Messages", chat_index_path %>
	          </li>
	          <li>
	            <%= link_to "Profile", profile_path(current_user.username) %>
	          </li>
				    <li>
				      <%= link_to "New event", new_event_path %>
				    </li>
				    <li>
				      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
				    </li>
				    <% else %>
				    <li>
				      <%= link_to "Login", new_user_session_path %>
				    </li>
				    <li>
				      <%= link_to "Register", new_user_registration_path %>
				    </li>
		  <% end %>
    </ul>
  </section>

</nav> 

